.vpc-shiki {
  border-radius: 4px;
}
.vpc-shiki code {
  display: block;
  overflow-x: auto;
  padding: .5em;
  position: relative;

  font-size: 0.875rem;
  line-height: 1.125rem;
  text-indent: 0;
  white-space: pre-wrap;
  background: transparent;
  border: none;
}

.vpc-shiki-plain code {
  padding-top: 8px;
}

.vpc-shiki-copy-btn {
  border-radius: 4px 0;
  padding: 4px 8px;
  position: absolute;
  font-size: 1em;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.vpc-shiki:not(.vpc-shiki-preview):hover .vpc-shiki-copy-btn {
  opacity: 1;
}

.vpc-shiki-spinner-container {
  align-items: center;
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  position: absolute;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.vpc-shiki-preview {
  margin-bottom: 2em;
}

.vpc-shiki-lang {
  padding: 0 5px;
  margin-bottom: 6px;
  font-weight: bold;
  text-transform: capitalize;
}

.vpc-shiki-table {
  border-collapse: collapse;
}

.vpc-shiki-table tr {
  height: 19px;
  width: 100%;
}

.vpc-shiki td:first-child {
  border-right: 1px solid transparent;
  padding-left: 5px;
  padding-right: 8px;
  user-select: none;
}

.vpc-shiki td:last-child {
  padding-left: 8px;
  word-break: break-all;
}
